body {
    background-color: #cce5ff;
    margin-left: 100px;
    margin-right: 100px;
    width: 1000px  
}

h1, h2 {
    text-align: center
}

h3, h4, p{
    text-indent: 30px;
}

a:hover{
    background-color: #3399ff;
    text-decoration: underline;
    color: #3333ff;
}

a {
    text-decoration: none;
    color: black;
}

.blog-container{
    display: block;
    background-color: #99ccff;
    box-shadow: 5px 10px 8px #888888;
    margin: auto;
    border-radius: 25px;
    width: 650px;

}

.container{

    display: block;
    background-color: #99ccff;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 25px;
    
    width: 100%;
    height: 190px;
    padding: 10px;
    
}

.overflowText {
    overflow-y: scroll;
    overflow-x: hidden;
}

pre {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    
}

  table, th, td {
    border: 1px solid #3385ff;
    background-color: white; 
    color: black; 
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  img {
    
    max-width: 100%;
    height: auto;
    margin-left: 400px;

  }

  div > img {
    text-align: center;
    margin-left: 150px;
  }